.banner{
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    width: 100%;
    background-size: cover;
}

img.h-50{
    height: 70vh !important;
    filter: brightness(45%);
}

